<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="egg icon" href="/static/favicon.png" type="image/png" />
        <link rel="stylesheet" href="/static/404.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <%- include('nav.ejs') %> <%- include('footer.ejs') %>
    </head>
    <body>
        <div class="container">
            <div class="caption">
                <div class="hat-cont">
                    <!-- <div class="lines"></div> -->
                    <!-- <div class="hat"></div> -->
                    <!-- <div class="left"></div> -->
                    <!-- <div class="top"></div> -->
                    <!-- <div class="left-opp"></div> -->
                </div>
                <div class="head-text">Recipe Not Found!</div>
                <br />
                <div class="click-text">Click Pan to back home</div>
            </div>
            <div class="head" onclick="window.location.href = '/'">
                <div class="pan-wrapper">
                    <div class="center">
                        <div class="sub-center">
                            <div class="egg">
                                <div class="yolk"></div>
                            </div>
                        </div>
                        <div class="handle"></div>
                        <div class="handle-sub"></div>
                    </div>
                    <div class="before-4">4</div>
                    <div class="after-4">4</div>
                </div>
            </div>
        </div>
    </body>
</html>
