<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="egg icon" href="/static/favicon.ico" type="image/x-icon" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <%- include('nav.ejs') %> <%- include('footer.ejs') %>
        <link rel="stylesheet" href="/static/404.css" />
    </head>
    <body>
        <
        <div class="container">
            <div class="caption">
                <!-- <div class="hat-cont">
                    <div class="lines"></div>
                    <div class="hat">
                        <div class="left"></div>
                        <div class="top"></div>
                        <div class="left-opp"></div>
                    </div> -->
                <!-- </div> -->
                <div class="head-text">Recipe Not Found !</div>
                <br />
            </div>

            <div class="head">
                <div class="pan-wrapper">
                    <a href="/">
                        <div class="center">
                            <div class="sub-center">
                                <div class="egg">
                                    <div class="yolk"></div>
                                </div>
                            </div>
                        </div>
                        <div class="handle"></div>
                        <div class="handle-sub"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="head-home">Click Pan to go Home</div>

        <!-- <a href="/">홈으로 돌아가기</a> -->
    </body>
</html>
