<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <%- include('nav.ejs') %> <%- include('footer.ejs') %>
    </head>
    <body>
        <br />
        <br />
        <br />
        <h1>404 Error!!</h1>
        <hr />
        <a href="/">홈으로 돌아가기</a>
    </body>
</html>
