<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./static/account.css" />
    </head>
    <body>

        <div id="cssmenu">
            <ul>
                <li class="has-sub">
                    <a><span>Profile</span></a>

                    <ul>
                        <li>
                            <a href="#"><span>1</span></a>
                        </li>
                        <li>
                            <a href="#"><span>2</span></a>
                        </li>

                        <li>
                            <a href="#"><span>3</span></a>
                        </li>

                        <li>
                            <a href="#"><span>4</span></a>
                        </li>

                        <li class="last">
                            <a href="#"><span>5</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </body>
</html> -->
