<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Follow</title>
        <%- include('nav.ejs') %> <%- include('footer.ejs') %>
        <link rel="stylesheet" href="/static/follow.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Followers</h1>
            <div class="followerContainer">
                <div class="singleFollow">
                    <div class="userData">
                        <!-- <div class="userId">ID</div>
                        <div class="userName">NAME</div> -->
                    </div>
                    <!-- <div class="followIconBox">
                        <span class="material-symbols-outlined followIcon" onclick="goFollow()">
                            favorite
                        </span>
                    </div> -->
                </div>
            </div>
        </div>
    </body>

    <script>
        // 나를 팔로우하는 사람을 검색합니다
        // 토큰 값 가져오기
        const token = localStorage.getItem("user");
        const followerContainer = document.querySelector(".followerContainer");

        // 검색하는 axios수행
        axios({
            url: "/followers",
            method: "post",
            headers: { Authorization: "Bearer " + token },
        }).then((res) => {
            console.log("res.data >>", res.data);
            console.log("res.data.followers >>", res.data.followers);
            if (res.data.followers && res.data.followers.length > 0) {
                // 데이터를 받아서 화면에 출력합니다(for)
                for (follower of res.data.followers) {
                    //img
                    const userImg = document.createElement("img");
                    if (follower.img) {
                        userImg.src = follower.img;
                    } else {
                        userImg.src = "/static/account.png";
                    }
                    userImg.alt = "Profile";
                    userImg.classList.add("userImg");
                    console.log("hi~~", userImg.src);
                    //followerId
                    const followerId = document.createElement("a");
                    followerId.textContent = follower.userId;
                    followerId.classList.add("userId");
                    followerId.href = "/userPosts/" + follower.id;
                    // followerUserName
                    const followerUserName = document.createElement("a");
                    followerUserName.textContent = follower.userName;
                    followerUserName.classList.add("userName");
                    followerUserName.href = "/userPosts/" + follower.id;
                    //heart
                    const heart = document.createElement("span");
                    heart.textContent = "favorite";
                    heart.classList.add("material-symbols-outlined");
                    heart.classList.add("followIcon");
                    //userData
                    const userData = document.createElement("div");
                    userData.classList.add("userData");
                    userData.appendChild(userImg);
                    // userData.appendChild(followerId);
                    userData.appendChild(followerUserName);
                    //followIconBox
                    const followIconBox = document.createElement("div");
                    followIconBox.classList.add("followIconBox");
                    followIconBox.appendChild(heart);
                    //singleFollow
                    const singleFollow = document.createElement("div");
                    singleFollow.classList.add("singleFollow");
                    singleFollow.appendChild(userData);
                    singleFollow.appendChild(followIconBox);
                    //추가
                    followerContainer.appendChild(singleFollow);
                }
            } else {
                const userData = document.createElement("div");
                userData.classList.add("userData");
                userData.classList.add("notFound");
                userData.textContent = "There are no followers";
                const singleFollow = document.createElement("div");
                singleFollow.classList.add("singleFollow");
                singleFollow.appendChild(userData);
                followerContainer.appendChild(singleFollow);
            }
        });
    </script>
</html>
