<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="egg icon" href="/static/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/food.css" />
    </head>
    <body>
        <div class="cont_principal">
            <div class="cont_central">
                <div class="cont_modal cont_modal_active">
                    <div class="cont_photo">
                        <div class="cont_img_back">
                            <img
                                src="https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg"
                                alt=""
                            />
                        </div>
                        <div class="cont_mins">
                            <div class="sub_mins">
                                <h3>50</h3>
                                <span>MINS</span>
                            </div>
                            <div class="cont_icon_right">
                                <a href="#"><i class="material-icons">&#xE8E7;</i></a>
                            </div>
                        </div>
                        <div class="cont_servings">
                            <h3>4</h3>
                            <span>SERVINGS</span>
                        </div>
                        <div class="cont_detalles">
                            <h3>Shakshuka With Feta</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non
                                est justo.
                            </p>
                        </div>
                    </div>
                    <div class="cont_text_ingredients">
                        <div class="cont_over_hidden">
                            <div class="cont_tabs">
                                <ul>
                                    <li>
                                        <a href="#"><h4>INGREDIENTS</h4></a>
                                    </li>
                                    <li>
                                        <a href="#"><h4>PREPARATION</h4></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="cont_text_det_preparation">
                                <div class="cont_title_preparation">
                                    <p>STEP 1</p>
                                </div>
                                <div class="cont_info_preparation">
                                    <p>Heat oven to 375 degrees</p>
                                </div>
                                <div class="cont_text_det_preparation">
                                    <div class="cont_title_preparation">
                                        <p>STEP 2</p>
                                    </div>
                                    <div class="cont_info_preparation">
                                        <p>
                                            Heat oil in a large skillet over medium-low heat. Add
                                            onion and bell pepper. Cook gently until very soft,
                                            about 20 minutes. Add garlic and cook until tender, 1 to
                                            2 minutes; stir in cumin, paprika and cook 1 minute.
                                            Pour in tomatoes and season with 3/4 teaspoon salt and
                                            1/4 teaspoon pepper;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cont_btn_mas_dets">
                            <a href="#"><i class="material-icons">&#xE313;</i></a>
                        </div>
                    </div>
                    <div class="cont_btn_open_dets">
                        <a href="#e" onclick="open_close()"
                            ><i class="material-icons">&#xE314;</i></a
                        >
                    </div>
                </div>
            </div>
        </div>

        <script>
            window.onload = function () {
                document.querySelector(".cont_modal").className = "cont_modal";
            };

            let c = 0;
            function open_close() {
                document.querySelector(".cont_modal").className =
                    c % 2 == 0 ? "cont_modal cont_modal_active" : "cont_modal";
                c++;
            }
        </script>
    </body>
</html>
