<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <link rel="egg icon" href="/static/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="프로젝트를 진행한 crew의 정보를 나타내는 페이지로 이동하는 footer"
        />
        <title>Document</title>
        <link rel="stylesheet" href="/static/footer.css" />
    </head>
    <body>
        <div class="footer-container">
            <div class="footer-section1">
                <a href="/team" class="button-link"> Crew Profile </a>
            </div>
        </div>
    </body>
</html>
