<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="egg icon" href="/static/favicon.png" type="image/png" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/footer.css" />
    </head>
    <body>
        <div class="footer-container">
            <div class="footer-section1">
                <a href="/team" class="button-link"> Crew Profile </a>
            </div>
        </div>
    </body>
</html>
