<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./static/fryingPan.css" />
    </head>
    <body>
        <html>
            <title>Frying Pan</title>
            <head></head>
            <body>
                <div ID="container">
                    <div ID="fryingpanouter"></div>
                    <div ID="innerfryingpan">
                        <div ID="eggcontainer">
                            <div ID="egg1"></div>
                            <div ID="egg2"></div>
                            <div ID="egg3"></div>
                            <div ID="yolk"></div>
                        </div>
                    </div>
                    <div ID="handletop">
                        <div ID="handlebottom"></div>
                        <div ID="handlehole"></div>
                    </div>
                    <div ID="handlebridge"></div>
                </div>
            </body>
        </html>
    </body>
</html>
