<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <a href="/login">로그인</a>
        <a href="/join">회원가입</a>
        <h3>추후에 네비게이션 바에 넣겠습니다!</h3>
    </body>
</html>
