<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cook Eat MainPage</title>
        <link rel="egg icon" href="/static/favicon.ico" type="image/x-icon" />

        <link rel="stylesheet" href="/static/index.css" />
        <%- include('nav.ejs') %> <%- include('footer.ejs') %> <%- include('fryingPan.ejs') %> <%-
        include('rotate.ejs') %>
    </head>
    <body>
        <div class="a">
            <ul class="index-ul">
                <li class="index-li"></li>
                <li class="index-li"></li>
                <li class="index-li"></li>
            </ul>
        </div>
        <div class="content-index">
            <br />

            <h1 class="cookh1">Cook Eat🍴</h1>
        </div>
        <div class="spinner-container">
            <div class="spinner">
                <div class="bubble bubble--1"></div>
                <div class="bubble bubble--2"></div>
                <div class="bubble bubble--4"></div>
                <div class="bubble bubble--3"></div>
                <div class="bubble bubble--5"></div>
                <div class="bubble bubble--6"></div>
                <div class="aliment aliment--1"></div>
                <div class="aliment aliment--2"></div>
                <div class="aliment aliment--3"></div>
                <div class="stove">
                    <div class="stove--handle"></div>
                    <div class="stove--base"></div>
                </div>
            </div>
        </div>
        <button class="btn" onclick="posts()" id="gorecipes"><span>Go Recipes</span></button>
        <script>
            function posts() {
                location.href = "/posts";
            }
        </script>
    </body>
</html>
