<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="egg icon" href="/static/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://localhost:8080/" />
        <meta property="og:title" content="Cook! Eat!" />
        <meta property="og:image" content="/static/free-icon-fried-egg.png" />
        <meta property="og:description" content="나만의 레시피를 자랑해보세요!" />
        <meta property="og:site_name" content="Cook Eat" />
        <!-- 다음의 태그는 필수는 아니지만, 포함하는 것을 추천함 -->
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="/static/login.css" />
        <%- include('nav.ejs') %> <%- include('footer.ejs') %>
    </head>
    <body>
        <div class="myapp-login-box">
            <h2>로그인</h2>
            <form>
                <div class="user-box">
                    <input
                        type="text"
                        name="userId"
                        required
                        value="<%#= userId %>"
                        oninput="setUserId(this.value)"
                    />
                    <label>아이디</label>
                </div>
                <div class="user-box">
                    <input
                        type="password"
                        name="password"
                        required
                        value="<%#= password %>"
                        oninput="setPassword(this.value)"
                    />
                    <label>비밀번호</label>
                </div>
                <button class="myapp-submit-button" type="submit" onclick="handleLogin(event)">
                    로그인
                </button>
                <br />
            </form>
            <p>
                아직 회원이 아니신가요?
                <a href="/join">회원가입 페이지로 이동</a>
            </p>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            const setUserId = (value) => {
                // 클라이언트 측 리액트 코드에서 사용되는 setUserId 함수
            };

            const setPassword = (value) => {
                // 클라이언트 측 리액트 코드에서 사용되는 setPassword 함수
            };

            const handleLogin = async (event) => {
                event.preventDefault();

                try {
                    const response = await axios.post(
                        "/login",
                        {
                            userId: document.querySelector('[name="userId"]').value,
                            password: document.querySelector('[name="password"]').value,
                        },
                        {
                            withCredentials: true,
                        }
                    );
                    console.log("여기여기", response.data);
                    const { result, msg, statusCode, token, id } = response.data;
                    if (statusCode === 200 && result) {
                        // 로그인 성공 시
                        alert(msg);

                        // 토큰을 로컬 스토리지에 저장
                        localStorage.setItem("user", token);
                        localStorage.setItem("userId", id);
                        console.log("Before defining imgURL");

                        // 추가: 사용자 정보를 받아옵니다.
                        const userInfo = await axios.post(
                            "/profileImg",
                            {},
                            {
                                headers: {
                                    Authorization: "Bearer " + token,
                                },
                            }
                        );

                        // 받아온 사용자 정보 중 imgURL을 로컬 스토리지에 저장합니다.
                        const imgURL = userInfo.data.profileImageUrl;
                        localStorage.setItem("imgURL", JSON.stringify(imgURL));
                        localStorage.setItem("userName", userInfo.data.userName);
                        // 홈으로 이동
                        location.href = "/";
                    } else {
                        // 로그인 실패 시
                        console.error("로그인 실패:", msg);
                        alert(msg);
                    }
                } catch (error) {
                    console.error("로그인 실패:", error.message);
                    alert(error.message);
                }
            };
        </script>
    </body>
</html>
