<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/nav.css" />
        <style>
            #cssmenu ul li ul {
                display: none;
            }
            #cssmenu ul li.active ul {
                display: block;
            }
        </style>
    </head>
    <body>
        <div class="nav-bg-container">
            <div class="content-nav">
                <nav id="primary_nav_wrap">
                    <ul>
                        <li>
                            <a href="/">
                                <img
                                    src="/static/spoon.png"
                                    alt="spoon"
                                    style="width: 40px; height: 40px"
                                />
                            </a>
                        </li>
                        <li>
                            <a href="/posts">Community</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="cssmenu">
                <li id="userNavItem" style="display: none">
                    <!-- <span id="userText"></span> -->
                </li>
                <ul>
                    <li class="has-sub" id="profileBtn">
                        <img
                            src="/static/account.png"
                            alt="Profile"
                            style="width: 30px; height: 30px; border-radius: 50%"
                            class="account-image"
                            id="profileImg1"
                        />
                        <ul>
                            <li>
                                <a href="/login" id="loginBtn"><span>Login</span></a>
                            </li>
                            <li>
                                <a href="/Join" id="joinBtn"><span>Join</span></a>
                            </li>
                            <li id="profileLink">
                                <a href="/profile"><span id="mypageBtn">Mypage</span></a>
                            </li>
                            <li>
                                <a href="/" id="logoutBtn"><span>Logout</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <script>
            (function () {
                function isTokenExpired() {
                    const token = localStorage.getItem("user");
                    if (!token) {
                        // 토큰이 없는 경우, 만료되지 않았다고 가정합니다.
                        return false;
                    }

                    // 토큰의 두 번째 부분(payload)을 가져옵니다.
                    const base64Payload = token.split(".")[1];
                    // Base64 디코딩하여 JSON 형태로 변환합니다.
                    const payload = JSON.parse(atob(base64Payload));
                    // 만료 시간(expiration time)을 가져옵니다.
                    const expirationTime = payload.exp * 1000; // 초 단위이므로 밀리초로 변환합니다.
                    // 현재 시간을 가져옵니다.
                    const currentTime = Date.now();
                    // 현재 시간이 만료 시간보다 크다면 토큰이 만료되었다고 판단합니다.
                    return currentTime > expirationTime;
                }

                // 로그아웃 함수
                function logout() {
                    // 여기에 로그아웃 처리 코드를 추가합니다.
                    // 예를 들어, 로컬 스토리지에서 토큰을 제거하고 로그인 페이지로 리디렉션할 수 있습니다.
                    localStorage.clear();
                    alert("로그인 시간이 만료되었습니다 다시 로그인해주세요");
                    window.location.href = "/login"; // 로그인 페이지로 리디렉션
                }

                // 토큰이 만료되었는지 확인하고, 만료된 경우 로그아웃 처리를 수행합니다.
                if (isTokenExpired()) {
                    logout();
                }
            })();
            //
            document.addEventListener("DOMContentLoaded", function () {
                var profileBtn = document.getElementById("profileBtn");
                var logoutBtn = document.getElementById("logoutBtn");
                var userNavItem = document.getElementById("userNavItem");
                var loginBtn = document.getElementById("loginBtn"); // 로그인 버튼
                var joinBtn = document.getElementById("joinBtn"); // 회원가입 버튼
                var mypageBtn = document.getElementById("mypageBtn"); // 마이 페이지 버튼
                var profileLinkBtn = document.getElementById("profileLink");

                var profileLink = document.querySelector("#profileLink a"); // 프로필 페이지로 이동하는 a 태그를 가져옴
                const imgURL = localStorage.getItem("imgURL"); // imgURL를 가져옴
                var imageUrl;

                if (imgURL) {
                    const cleanedURL = imgURL.replace(/^"|"$/g, ""); // 양쪽 큰따옴표 제거
                    imageUrl =
                        cleanedURL.replace(/\\\\/g, "\\").replace(/\/\//g, "/") +
                        "?" +
                        new Date().getTime();
                } else {
                    imageUrl = "/static/account.png"; // 기본 이미지 URL로 변경하세요.
                    console.log("imgURL is not found in localStorage, using default image.");
                }

                profileBtn.addEventListener("click", function () {
                    profileBtn.classList.toggle("active");
                });

                function updateNavbarWithUserData() {
                    var token = localStorage.getItem("user");
                    var userId = localStorage.getItem("userId");
                    var userName = localStorage.getItem("userName");
                    var currentPath = window.location.pathname;

                    if (token) {
                        try {
                            var base64Decoded = atob(token.split(".")[1]);
                            var decodedToken = JSON.parse(
                                new TextDecoder().decode(
                                    new Uint8Array([...base64Decoded].map((c) => c.charCodeAt(0)))
                                )
                            );

                            if (decodedToken && decodedToken.userId) {
                                userNavItem.style.display = "block";
                                userNavItem.textContent = "Welcome, " + userName;
                                profileLink.style.display = "block"; // 토큰이 있는 경우 프로필 페이지로 이동하는 링크를 표시
                                profileLink.href = "/profile/" + userId;
                                document.getElementById("profileImg1").src = imageUrl;

                                // 로그인 상태라면 로그인, 회원가입 버튼 숨기기
                                loginBtn.style.display = "none";
                                joinBtn.style.display = "none";
                            }
                        } catch (error) {
                            console.error("Error decoding token:", error);
                        }
                    } else {
                        // 로그인 상태가 아니라면 마이페이지, 로그아웃 버튼 숨기기
                        mypageBtn.style.display = "none";
                        logoutBtn.style.display = "none";
                        profileLinkBtn.style.display = "none";

                        if (currentPath === "/profile" || currentPath === "/profileEdit") {
                            alert("로그인이 필요합니다!");
                            window.location.href = "/login";
                        }
                    }
                }

                logoutBtn.addEventListener("click", function (event) {
                    var token = localStorage.getItem("user");

                    if (!token) {
                        // 토큰이 없으면 로그인 페이지로 이동
                        alert("로그인이 필요합니다!");
                        window.location.href = "/login";
                    } else {
                        // 토큰이 있으면 로그아웃 수행
                        localStorage.clear();
                        alert("로그아웃 완료!~~");
                        window.location.href = "/";
                    }
                });

                updateNavbarWithUserData();
            });
        </script>
    </body>
</html>
