<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./static/nav.css" />
    </head>
    <body>
        <div class="nav-bg-container">
            <div class="content-nav">
                <nav id="primary_nav_wrap">
                    <ul>
                        <li>
                            <a href="/">
                                <img
                                    src="./static/spoon.png"
                                    alt="spoon"
                                    style="width: 40px; height: 40px"
                                />
                            </a>
                        </li>
                        <li>
                            <a href="/login">login</a>
                        </li>
                        <li>
                            <a href="/join">join</a>
                        </li>
                        <li>
                            <a href="/community">Community</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>
