<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="egg icon" href="/static/favicon.ico" type="image/x-icon" />

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ProfileEdit</title>
        <link rel="stylesheet" type="text/CSS" href="style.css" />
        <%- include('nav.ejs') %> <%- include('footer.ejs') %> <%- include('account.ejs') %>
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700,800"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="egg icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/profile.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
    </head>
    <body>
        <div class="portfoliocard">
            <div class="coverphoto"></div>
            <div class="profile_picture" id="profileImg"></div>
            <div class="left_col">
                <button id="saveButton" class="save-button">Save Profile</button>
                <button id="deleteButton" class="delete-button">Delete Account</button>
                <a class="material-symbols-outlined" id="cancel"> arrow_back </a>
            </div>
            <div class="right_col">
                <ul class="contact_information">
                    <label for="nameInput">userId</label>
                    <li class="userId"><input type="text" id="userId" /></li>
                    <label for="userNameInput">userName</label>
                    <li class="userName">
                        <input type="text" id="userName" />
                    </li>
                    <label for="password">new password</label>
                    <li class="password">
                        <input type="password" id="nowPassword" placeholder="현재 비밀번호" />
                    </li>
                    <li class="password">
                        <input type="password" id="newPassword" placeholder="새로운 비밀번호" />
                    </li>
                </ul>
            </div>
        </div>
        <script>
            const token = localStorage.getItem("user");
            const userId = localStorage.getItem("userId");
            const atag = document.getElementById("cancel");
            atag.href = "/profile/" + userId;

            function displayUserData(response) {
                document.getElementById("userId").value = response.data.user.userId;
                document.getElementById("userName").value = response.data.user.userName;
                const imgURL = response.data.user.img; // imgURLs를 가져옴
                document.getElementById("profileImg").style.backgroundImage = "url(" + imgURL + ")";
            }

            function saveUserData() {
                const modifiedUserId = document.getElementById("userId").value;
                const modifiedUserName = document.getElementById("userName").value;
                const nowPassword = document.getElementById("nowPassword").value;
                const newPassword = document.getElementById("newPassword").value;
                const token = localStorage.getItem("user");
                const userId = localStorage.getItem("userId");
                axios
                    .patch(
                        "/profileUpdate/" + userId,
                        {
                            userId: modifiedUserId,
                            userName: modifiedUserName,
                            nowPassword: nowPassword,
                            newPassword: newPassword,
                        },
                        {
                            headers: {
                                Authorization: "Bearer " + token,
                            },
                        }
                    )
                    .then(function (response) {
                        localStorage.setItem("userName", response.data.updated.userName);
                        alert(response.data.msg);
                        window.location.href = "/profile/" + userId;
                    })
                    .catch(function (error) {
                        console.error("Error:", error);
                    });
            }
            const imgURL = localStorage.getItem("imgURL"); // imgURLs를 가져옴
            axios
                .post(
                    "/profile/" + userId,
                    {
                        data: {
                            imgURL: imgURL, // imgURL를 data에 추가
                        },
                    },
                    {
                        headers: {
                            Authorization: "Bearer " + token,
                        },
                    }
                )
                .then(displayUserData)
                .catch(function (error) {
                    console.error("Error:", error);
                });

            document.getElementById("saveButton").addEventListener("click", saveUserData);

            //탈퇴 버튼 클릭 시 작동 함수
            deleteButton.addEventListener("click", () => {
                const confirmChk = confirm(
                    "작성한 게시물도 함께 삭제됩니다 정말 탈퇴하시겠습니까?"
                );
                if (confirmChk) {
                    //현재 비밀번호 검증
                    const nowPassword = document.getElementById("nowPassword").value;
                    if (!nowPassword.trim()) {
                        alert("현재 비밀번호 값을 입력해주세요!");
                    } else {
                        // axios로 삭제 요청
                        axios({
                            url: "/profile/" + userId,
                            method: "delete",
                            data: { password: nowPassword },
                            headers: {
                                Authorization: "Bearer " + token,
                            },
                        }).then((res) => {
                            alert(res.data.msg);
                            if (res.data.result) {
                                //true면 삭제완료
                                localStorage.clear();
                                location.href = "/";
                            } else {
                                //false면 그 페이지 그대로
                            }
                        });
                    }
                }
            });
        </script>
    </body>
</html>
