<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <link rel="egg icon" href="/static/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="사용자 프로필 정보를 보여주며, 프로필 이미지 업로드 및 수정 기능이 있음.
        사용자는 팔로워, 팔로잉 정보를 볼 수 있고, 프로필 수정 및 북마크 페이지로 이동할 수 있는 버튼이 있음"
        />
        <title>Profile</title>

        <link rel="stylesheet" type="text/CSS" href="style.css" />
        <%- include('nav.ejs') %> <%- include('footer.ejs') %> <%- include('account.ejs') %>
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700,800"
            rel="stylesheet"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link rel="stylesheet" href="/static/profile.css" />
    </head>
    <body>
        <div class="portfoliocard">
            <div class="coverphoto"></div>
            <div class="profile_picture" id="profileImg"></div>
            <div class="left_col">
                <div class="followers">
                    <a href="/followersPage" class="follow">Followers</a>
                    <span class="material-symbols-outlined"> favorite </span>
                </div>
                <div class="following">
                    <a href="/followingsPage" class="follow">Following</a>
                    <span class="material-symbols-outlined"> favorite </span>
                </div>
                <button id="editButton" class="edit-button">Edit</button>
                <button id="bookmarkButton" class="bookmark-button">
                    Bookmark
                    <i class="material-symbols-outlined bookmarkIcon">bookmark</i>
                </button>
            </div>
            <div class="right_col">
                <h2 class="name" id="userName"></h2>
                <!-- 변경: userName을 "name" 클래스에 표기 -->
                <h3 class="location">Seoul, Korea</h3>
                <ul class="contact_information">
                    <label for="nickNameInput">Nickname</label>

                    <li class="nickName" id="userId"></li>
                    <!-- 변경: userId를 "nickName" 클래스에 표기 -->

                    <!-- 프로필 이미지 업로드 버튼 추가 -->
                    <label for="profileImageInput">Profile Image Upload</label>
                    <li>
                        <input type="file" id="profileImageInput" name="profileImage" />
                    </li>
                    <button
                        id="profileImgUploadBtn"
                        class="profileImgUploadBtn"
                        onclick="profileImgUpload()"
                    >
                        프로필 사진 등록
                    </button>
                </ul>
            </div>
        </div>
        <!-- axios CDN -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            var selectedFile;
            var token = localStorage.getItem("user"); // 토큰을 가져옵니다.

            document.getElementById("profileImageInput").addEventListener("change", function () {
                selectedFile = this.files[0];
            });

            function profileImgUpload() {
                if (!selectedFile) {
                    alert("이미지를 선택해주세요");
                    return;
                }

                var formData = new FormData();
                formData.append("userfile", selectedFile); // "userfile"로 이름 변경

                axios
                    .post("/profileUpload", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                            Authorization: "Bearer " + token,
                        },
                    })
                    .then(function (response) {
                        localStorage.setItem("imgURL", JSON.stringify(response.data.url));
                        alert("이미지 업로드 성공!");
                        profileImageUpload(); // 프로필 이미지만 서버로 보내서 db에 저장하는 식!
                    })
                    .catch(function (error) {
                        alert("이미지 업로드 실패");
                        console.error("Error:", error);
                    });
            }
            function profileImageUpload() {
                const imgURL = JSON.parse(localStorage.getItem("imgURL")); // imgURLs를 가져옴

                axios
                    .post(
                        "/profileImgCreate",
                        {
                            data: {
                                imgURL: imgURL, // imgURL를 data에 추가
                            },
                        },
                        {
                            headers: {
                                Authorization: "Bearer " + token,
                            },
                        }
                    )
                    .then(function (response) {
                        // 서버로부터 받은 응답을 처리합니다.
                        profileUpdate(); // 이미지 업로드가 성공하면 프로필 업데이트를 실행합니다.
                        window.location.reload();
                    })
                    .catch(function (error) {
                        // 요청 중에 오류가 발생한 경우를 처리합니다.
                        console.error("Error:", error);
                        alert("토큰이 만료되었습니다.");
                        location.href = "/";
                    });
            }

            function profileUpdate() {
                const imgURL = localStorage.getItem("imgURL"); // imgURLs를 가져옴
                const token2 = localStorage.getItem("user"); // 토큰을 가져옵니다.
                const userId = localStorage.getItem("userId");

                axios
                    .post(
                        "/profile/" + userId,
                        {
                            data: {
                                imgURL: imgURL, // imgURL를 data에 추가
                            },
                        },
                        {
                            headers: {
                                Authorization: "Bearer " + token2,
                            },
                        }
                    )
                    .then(function (response) {
                        // 서버로부터 받은 응답을 처리합니다.
                        updateProfileView(response.data);
                    })
                    .catch(function (error) {
                        // 요청 중에 오류가 발생한 경우를 처리합니다.
                        console.error("Error:", error);
                        alert("토큰이 만료되었습니다.");
                        location.href = "/";
                    });
            }

            // 프로필 정보를 화면에 업데이트하는 함수
            function updateProfileView(data) {
                var imageUrl = data.url.replace(/['"]+/g, "") + "?" + new Date().getTime();
                document.getElementById("userName").textContent = data.user.userId;
                document.getElementById("userId").textContent = data.user.userName;
                document.getElementById("profileImg").style.backgroundImage =
                    "url(" + imageUrl + ")";
            }

            // 페이지 로드 시 프로필 정보를 불러옴
            window.onload = function () {
                profileUpdate();
            };

            // 수정: Edit 버튼 클릭 시 /edit 페이지로 이동
            document.getElementById("editButton").addEventListener("click", function () {
                window.location.href = "/profileEdit";
            });
            document.getElementById("bookmarkButton").addEventListener("click", function () {
                window.location.href = "/bookMark";
            });
        </script>
    </body>
</html>
