<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="egg icon" href="/static/favicon.ico" type="image/x-icon" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profile</title>

        <link rel="stylesheet" type="text/CSS" href="style.css" />
        <%- include('nav.ejs') %> <%- include('footer.ejs') %> <%- include('fryingPan.ejs') %> <%-
        include('account.ejs') %>
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700,800"
            rel="stylesheet"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link rel="stylesheet" href="/static/profile.css" />
    </head>
    <body>
        <div class="portfoliocard">
            <div class="coverphoto"></div>
            <div class="profile_picture"></div>
            <div class="left_col">
                <div class="followers">
                    <a href="/followersPage" class="follow">Followers</a>
                    <span class="material-symbols-outlined"> favorite </span>
                </div>
                <div class="following">
                    <a href="/followingsPage" class="follow">Following</a>
                    <span class="material-symbols-outlined"> favorite </span>
                </div>
                <button id="editButton" class="edit-button">Edit</button>
            </div>
            <div class="right_col">
                <h2 class="name" id="userName"></h2>
                <!-- 변경: userName을 "name" 클래스에 표기 -->
                <h3 class="location">Seoul, Korea</h3>
                <ul class="contact_information">
                    <label for="nickNameInput">Nickname</label>

                    <li class="nickName" id="userId"></li>
                    <!-- 변경: userId를 "nickName" 클래스에 표기 -->

                    <!-- <label for="nickNameInput">Mail</label>
                    <li class="mail">john.doe@apple.com</li>
                    <label for="nickNameInput">Phone</label>
                    <li class="phone">1-(732)-757-2923</li> -->
                    <!-- <li class="resume"><a href="#" class="nostyle">download resume</a></li> -->
                </ul>
            </div>
        </div>
        <!-- axios CDN -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            // 수정: Edit 버튼 클릭 시 /edit 페이지로 이동
            document.getElementById("editButton").addEventListener("click", function () {
                window.location.href = "/profileEdit";
            });

            // 페이지 로딩이 완료된 후 실행할 코드를 이곳에 작성합니다.
            const token = localStorage.getItem("user");
            const userId = localStorage.getItem("userId");
            console.log(token);
            console.log(userId);

            axios
                .post(
                    "/profile/" + userId,
                    {},
                    {
                        headers: {
                            Authorization: "Bearer " + token,
                        },
                    }
                )
                .then(function (response) {
                    // 서버로부터 받은 응답을 처리합니다.
                    console.log(response.data);
                    document.getElementById("userName").textContent = response.data.user.userId;
                    // 변경: userName을 "name" 클래스에 표기
                    document.getElementById("userId").textContent = response.data.user.userName;
                    // 변경: userId를 "nickName" 클래스에 표기
                })
                .catch(function (error) {
                    // 요청 중에 오류가 발생한 경우를 처리합니다.
                    alert("토큰이 만료되었습니다");
                    location.href = "/";
                    console.error("Error:", error);
                });
        </script>
    </body>
</html>
