<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ProfileEdit</title>
        <link rel="stylesheet" type="text/CSS" href="style.css" />
        <%- include('nav.ejs') %> <%- include('footer.ejs') %> <%- include('fryingPan.ejs') %> <%-
        include('account.ejs') %>
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700,800"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="egg icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/profile.css" />
    </head>
    <body>
        <div class="portfoliocard">
            <div class="coverphoto"></div>
            <div class="profile_picture"></div>
            <div class="left_col">
                <div class="followers">
                    <div class="follow_count">1,234</div>
                    Followers
                </div>
                <div class="following">
                    <div class="follow_count">123</div>
                    Following
                </div>
                <button id="saveButton" class="save-button">Save</button>
            </div>
            <div class="right_col">
                <ul class="contact_information">
                    <label for="nameInput">userId</label>
                    <li class="userId"><input type="text" id="userId" /></li>
                    <label for="userNameInput">userName</label>
                    <li class="userName">
                        <input type="text" id="userName" />
                    </li>
                </ul>
            </div>
        </div>
        <script>
            const token = localStorage.getItem("user");
            const userId = localStorage.getItem("userId");
            console.log(token);
            console.log(userId);

            function displayUserData(response) {
                console.log(response.data);
                document.getElementById("userId").value = response.data.user.userId;
                document.getElementById("userName").value = response.data.user.userName;
            }

            function saveUserData() {
                const modifiedUserId = document.getElementById("userId").value;
                const modifiedUserName = document.getElementById("userName").value;

                axios
                    .patch(
                        "/updateProfile/" + userId,
                        {
                            userId: modifiedUserId,
                            userName: modifiedUserName,
                        },
                        {
                            headers: {
                                Authorization: "Bearer " + token,
                            },
                        }
                    )
                    .then(function (response) {
                        console.log(response.data);
                        window.location.href = "/profile";
                    })
                    .catch(function (error) {
                        console.error("Error:", error);
                    });
            }

            axios
                .post(
                    "/profile/" + userId,
                    {},
                    {
                        headers: {
                            Authorization: "Bearer " + token,
                        },
                    }
                )
                .then(displayUserData)
                .catch(function (error) {
                    console.error("Error:", error);
                });

            document.getElementById("saveButton").addEventListener("click", saveUserData);
        </script>
    </body>
</html>
