<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content=" 회전하는 리스트 형태로 여러 요리 레시피 링크를 표시함.
        이 리스트를 통해 각각의 레시피 페이지로 이동할 수 있음"
        />
        <link rel="stylesheet" href="/static/rotate.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="rotatingList">
            <div class="list">
                <a href="http://cookeat.shop:8080/post/54" class="card card1">까르보나라</a>
                <a href="http://cookeat.shop:8080/post/49" class="card card2">스테이크</a>
                <a href="http://cookeat.shop:8080/post/50" class="card card3">오므라이스</a>
                <a href="http://cookeat.shop:8080/post/52" class="card card4">밀푀유나베</a>
                <a href="http://cookeat.shop:8080/post/53" class="card card5">다쿠아즈</a>
            </div>
            <div class="list-bis">
                <a href="http://cookeat.shop:8080/post/54" class="card card1">까르보나라</a>
                <a href="http://cookeat.shop:8080/post/49" class="card card2">스테이크</a>
                <a href="http://cookeat.shop:8080/post/50" class="card card3">오므라이스</a>
                <a href="http://cookeat.shop:8080/post/52" class="card card4">밀푀유나베</a>
                <a href="http://cookeat.shop:8080/post/53" class="card card5">다쿠아즈</a>
            </div>
        </div>
    </body>
</html>
