/* Join.css */

.myapp-join-box {
    position: absolute;
    margin: 40px auto 0;
    top: 49%;
    left: 50%;
    width: 600px;
    height: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: rgba(247, 247, 247, 0.941);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.myapp-join-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #433d3d;
    text-align: center;
}

.join-input-container {
    position: relative;
    margin-bottom: 10px;
}

.join-input-container input[type="text"],
.join-input-container input[type="password"],
.join-input-container input[type="email"] {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #433d3d;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    outline: none;
    background: transparent;
}

.join-input-container input[type="text"]::placeholder,
.join-input-container input[type="password"]::placeholder,
.join-input-container input[type="email"]::placeholder {
    color: #433d3d;
}

.join-input-container label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #433d3d;
    pointer-events: none;
    transition: 0.2s ease-out;
}

.join-input-container input:focus + label,
.join-input-container input:valid + label {
    top: -20px;
    font-size: 12px;
    color: #82745e;
}

/* 확인 버튼 스타일 */
.join-input-container button.join-check-button {
    position: absolute;
    top: -20px;
    right: 0;
    padding: 5px 10px;
    font-size: 14px;
    color: #82745e;
    background: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.join-input-container button.join-check-button:hover {
    background: #beac92; /* hover 시 배경색 변경 */
    color: #ffffff; /* hover 시 텍스트 색상 변경 */
}

.join-input-container button.join-check-button:first-child {
    margin-top: 25px;
}

.join-submit-button {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #82745e;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.join-submit-button:hover {
    background: #beac92;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: none;
}

/* p {
    color: #433d3d;
  } */

.join-input-container input[type="tel"] {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #433d3d;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    outline: none;
    background: transparent;
}

.join-input-container input[type="tel"]::placeholder {
    color: #433d3d;
}

.join-input-container input[type="tel"]:focus + label,
.join-input-container input[type="tel"]:valid + label {
    top: -20px;
    font-size: 12px;
    color: #82745e;
}

.double-input {
    display: flex;
    justify-content: space-between;
}

.double-input-inner {
    width: 48%;
    position: relative;
    margin-bottom: 17px;
}

.double-input-inner input {
    width: 100%;
}

.input-description {
    font-size: 13px;
    color: #a9a9a9;
    margin-right: 185px;
    font-weight: 100;
}

.login-link {
    margin-left: 28%;
}
