a {
    text-decoration: none;
    color: black;
}

body {
    background: #f4f4f4;
    padding: 0 8px;
}
.space {
    height: 200px;
}
.noData {
    background-color: #f7f5ec;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(80, 80, 80, 0.4);
    text-align: center;
    height: 500px;
    line-height: 500px;
    border-radius: 20px;
    margin-top: 120px;
}
.container {
    background-color: #f7f5ec;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(112, 111, 111, 0.775);
    text-align: center;
    border-radius: 20px;
    padding: 54px 20px;
    margin-top: 120px;
}
.homeimg {
    margin-bottom: 20px;
}

.container .lists {
    margin: 0 auto;
    position: relative;
}

.container .lists .total {
    position: absolute;
    left: 0px;
    top: -30px;
}
.container .top {
    background-color: rgba(0, 0, 0, 0.1);
}

.container .items {
    height: 50px;
    /* border: 1px solid rgb(0, 0, 0);
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px; */

    text-align: center;
}
.container .num {
    height: 50px;
    text-align: center;
}
.container .infomation {
    justify-content: start;
    border-radius: 20px;
}
.container .infomation .id {
    width: 200px;
}
.container .infomation .title {
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    text-align: start;
}
.container .infomation .createdAt {
    width: 250px;
}
.container .infomation .User {
    width: 200px;
}
.container .lists tbody .infomation {
    border-bottom: 1px solid rgba(59, 59, 59, 0.386);
}
.container .lists tbody .infomation .infos {
    height: 40px;
}
.top .num {
    display: none;
}
.infomation .postId {
    display: none;
    border: 0px;
}
.spaceTwo {
    background-color: #f7f5ec;
    width: 1100px;
}
.btn-12 {
    position: relative;
    right: 20px;
    bottom: 20px;
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    margin-top: 30px;
}
.btn-12 span {
    background: rgb(222, 243, 139);
    background: linear-gradient(0deg, rgb(239, 251, 152) 0%, rgb(239, 251, 173) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-12 span:nth-child(1) {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
