body {
    font-family: tahoma;
    height: 100vh;
    background-color: #f4f4f4;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.our-team {
    padding: 20px 0 30px;
    margin: 20px;
    background-color: #f7f5ec;
    text-align: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    top: 50px; /* 상단 여백 조절 */
}

.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

img {
    width: 20px;
}
/* 이하 생략 */

.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #a59172;
    position: absolute;
    bottom: 135%;
    right: 0;
    top: 50%; /* 수정된 부분: 중앙에 위치하도록 수정 */
    left: 50%; /* 수정된 부분: 중앙에 위치하도록 수정 */
    transform: translate(-50%, -50%) scale(1); /* 수정된 부분: 중앙에 위치하도록 및 scale 조정 */

    opacity: 0.9;
    /* transform: scale(3); */
    transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 100%;
}

.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #a59172;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #a59172;
    position: absolute;
    bottom: 00px;
    left: 0;
    transition: all 0.5s ease 0s;
    transform: translateY(100%); /* 소셜 아이콘을 숨김 */
}

.our-team:hover .social {
    bottom: 0;
    transform: translateY(0); /* hover 시 소셜 아이콘을 보임 */
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #618fb7;
    background-color: #a59172;
}
